<ion-view title="" hide-nav-bar="true" class="auth-page animation-duration" ng-controller="authInterviewerCtrl" >
        <form >
            <img class="auth-page-i0" src="img/authInterviewer_1.png">

            <img class="auth-page-i1" src="img/authInterviewer_2.png">

            <input type="input" placeholder="Введите логин" class="item item-input auth-page-i2 item-input-text" ng-model="user.login">

            <select class="item item-input auth-page-i3" ng-model="user.city">
                <option ng-selected="true" disabled value="">Выберите город</option>
                <option value="1">Абакан</option>
                <option value="2">Барнаул</option>
                <option value="3">Бийск</option>
                <option value="4">Благовещенск</option>
                <option value="5">Братск</option>
                <option value="6">Владивосток</option>
                <option value="7">Екатеринбург</option>
                <option value="8">Иркутск</option>
                <option value="9">Кемерово</option>
                <option value="10">Комсомольск-на-Амуре</option>
                <option value="11">Магнитогорск</option>
                <option value="12">Н. Новгород</option>
                <option value="13">Находка</option>
                <option value="14">Новокузнецк</option>
                <option value="15">Новосибирск</option>
                <option value="16">Пермь</option>
                <option value="17">Самара</option>
                <option value="18">Уфа</option>
                <option value="19">Хабаровск</option>
                <option value="20">Челябинск</option>
            </select>

            <input type="text" placeholder="Введите адрес ТТ" class="item item-input auth-page-i4 item-input-text" ng-model="user.adress">

            <input type="text" placeholder="Введите SFDC" class="item item-input auth-page-i5 item-input-text" ng-model="user.sfdc">



            <input class="auth-page-i6 submit" type="reset" value="Очистить">
            <button class="auth-page-i7 submit" ng-click="authUserGo(user.login, user.city, user.adress, user.sfdc)" >
                <img src="img/authInterviewer_4.png">
            </button>
        </form>
</ion-view>