<ion-view title="" hide-nav-bar="true" class="change-page animation-duration" ng-controller="changePageCtrl" >

    <div class="change-page-i2" ng-click="changeBundle('RED')"></div>
    <div class="change-page-i3" ng-click="changeBundle('GRAY')"></div>

    <button class="change-page-i1 submit" ng-click="nextPage()" >
        <img src="img/p_2.png">
    </button>

</ion-view>