<ion-view title="" hide-nav-bar="true" class="last-page animation-duration" ng-controller="lastPageCtrl" >
    <ion-content padding="true" class="has-header">
        <button ng-click="nextPage()" >След. слайд</button>
    </ion-content>
</ion-view>