<ion-view title="" hide-nav-bar="true" class="one-q-page animation-duration" ng-controller="oneQPageCtrl" >

    <div class="one-q-page-i4 last-name-user">{{userLastName}} {{userName}}</div>
    <div class="one-q-page-i1"  ng-click="nextPage('Да')"></div>

    <div class="one-q-page-i2"  ng-click="nextPage('Нет')"></div>

    <button class="one-q-page-i3 submit"  ng-click="stopPage()">
        <img src="img/p_5_2.png">
    </button>

</ion-view>