<ion-view title="" hide-nav-bar="true" class="interviewer-page animation-duration animation-duration" ng-controller="regInterviewerPageCtrl" >
    <form>
        <img class="interviewer-page-i0" src="img/p_4_1.png">

        <img class="interviewer-page-i8" src="img/p_4_2.png">

        <select class="item item-input interviewer-page-i1" ng-model="form.MarkaSig">
            <option ng-selected="true" disabled value="">Выберите марку сигарет</option>
            <option value="Maxim Classic">Maxim Classic</option>
            <option value="Maxim Classic 25">Maxim Classic 25</option>
            <option value="More">More</option>
            <option value="Наша Марка">Наша Марка</option>
            <option value="Донской Табак">Донской Табак</option>
            <option value="Прима">Прима</option>
            <option value="Magna">Magna</option>
            <option value="LD">LD</option>
            <option value="Alliance">Alliance</option>
            <option value="Оптима">Оптима</option>
            <option value="Ява Золотая">Ява Золотая</option>
            <option value="St. George">St. George</option>
            <option value="Тройка">Тройка</option>
            <option value="Viceroy">Viceroy</option>
            <option value="Next">Next</option>
            <option value="Союз Apollo">Союз Apollo</option>
            <option value="Другое">Другое</option>
        </select>

        <select class="item item-input interviewer-page-i2 " ng-model="form.StrongSig">
            <option ng-selected="true" disabled value="">Выберите крепость сигарет</option>
            <option value="до 4/0,4 мг">до 4/0,4 мг</option>
            <option value="от 4/04 мг до 8/0,8 мг">от 4/04 мг до 8/0,8 мг</option>
            <option value="свыше 8/08 мг">свыше 8/08 мг</option>
        </select>

        <input type="text" placeholder="Введите имя" class="item item-input interviewer-page-i3 item-input-text" ng-model="form.UserName">
        <input type="text" placeholder="Введите фамилию" class="item item-input interviewer-page-i4 item-input-text" ng-model="form.UserLastName">
        <input type="date" max="2010-01-01" class="item item-input interviewer-page-i5 item-input-text" ng-model="form.UserDate">
        <input type="text" placeholder="Введите email" class="item item-input interviewer-page-i6 item-input-text" ng-model="form.UserEmail">
        <input type="tel" maxlength="11" placeholder="Введите телефон (79001112233)" class="item item-input interviewer-page-i7 item-input-text" ng-model="form.rUserPhone">

        <input class="auth-page-i6 submit sign-page-i6" type="reset" value="Очистить">
        <button class="sign-page-i7 submit" ng-click="nextPage(form.MarkaSig,form.StrongSig,form.UserName,form.UserLastName,form.UserDate,form.UserEmail,form.rUserPhone)">
            <img src="img/p_3_7.png">
        </button>
    </form>
</ion-view>