<ion-view title="" hide-nav-bar="true" class="sign-page animation-duration" ng-controller="signPageCtrl" >

        <div class="sign-page-i3">
            <h1>Соглашение<br/>об участии в исследовании</h1>
            <br>
            Гражданин(ка)___________________________________________________ , именуемая(ый) в дальнейшем «Участник», с одной стороны, и ООО «Интенсив», именуемое в дальнейшем «Организатор», в лице Генерального директора Общества с ограниченной ответственностью «Управляющая компания «Глобал Менеджмент»» Мироненко Андрея Юрьевича, действующего на основании Устава и Договора о передаче полномочий единоличного исполнительного органа управляющему № б/н от 06.10.2009 г., совместно именуемые «Стороны», подписали настоящее Соглашение о нижеследующем:
            <br><br>
            1. Участник дает согласие на участие в исследовании для марки Максим специальный выпуск (далее – Исследование), проводимом Организатором в период с 04 октября по 25 ноября 2016 года, а Организатор обязуется оплатить стоимость участия в Исследовании, в соответствии с условиями настоящего Соглашения.   
            <br><br>
            2. Оплата участия в Исследовании производится в виде вознаграждения, стоимость которого эквивалентна стоимости пачки сигарет «Максим специальный выпуск. Оплата в денежной форме не производится.
            <br><br>
            3. Факт подписания Участником настоящего Соглашения является безусловным согласием Участника на осуществление автоматизированной и неавтоматизированной обработки его персональных данных, предоставленных им для участия в Программе, включая: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу, включая трансграничную передачу), обезличивание, блокирование, уничтожение, для целей осуществления Организатором и его филиалам, аффилированным лицам, ООО «Империал Тобакко Продажа и Маркетинг» и уполномоченными ими третьими лицами маркетинговых исследований и анализа, разработки маркетинговых программ и программ производства, создания баз данных и на получение им (Участником) от Организатора и его филиалов, аффилированных лиц, ООО «Империал Тобакко Продажа и Маркетинг» и уполномоченных им третьих лиц любой информации в отношении любых мероприятий, направления информации и материалов, относящихся к табачным изделиям и различным вопросам, связанным с табачными изделиями, приглашения на сайты ООО «Империал Тобакко Продажа и Маркетинг», иной информации посредством электронной связи или иным способом (включая почту, электронную почту, SMS, MMS).
            Согласие на обработку персональных данных и на получение вышеуказанной информации действует до момента отзыва данного согласия Участником, в соответствии с п.4 Соглашения.
            <br><br>
            4. Участник в любое время вправе отозвать свое согласие, путем направления письменного уведомления по почте в адрес Организатора (Россия, 111033, Москва, Таможенный проезд, д.6, офис 213)  и  ООО «Империал Тобакко Продажа и Маркетинг» (Россия, 125047, г. Москва, ул. 1-я Тверская-Ямская, д. 21). Организатор и его филиалы, аффилированные лица, ООО «Империал Тобакко Продажа и Маркетинг» и уполномоченные ими третьи лица обязуются прекратить обработку персональных данных и обеспечить их уничтожение в течение 30 дней с даты получения уведомления об отзыве.
            <br><br>
            5. Организатор производит сбор, обработку раскрытие или передачу персональных данных Участников Исследования согласно законодательству Российской Федерации и условиям настоящего Соглашения.
            <br><br>
            6 Настоящее Соглашение вступает в силу с момента его подписания.
            <br><br>
            7. Подпись Участника: __________________________________ 
            <br><br>
            Дата: __________________________


        </div>

        <canvas id="canvas" class="sign-page-i4" width="564px" height="154px">Canvas not supported</canvas>

        <input type="text" disabled="disabled" class="item item-date sign-page-i5 item-input-text" value="{{dateNow}}">

        <button class="sign-page-i6 submit" ng-click="clearSign()">
            <img src="img/p_3_6.png">
        </button>
        <button class="sign-page-i7 submit" ng-click="nextPage(forms.date)">
            <img src="img/p_3_7.png">
        </button>
</ion-view>