<ion-view title="" hide-nav-bar="true" class="start-work-page animation-duration" ng-controller="startWorkPageCtrl" >


    <button class="start-work-page-i1 submit" ng-click="createForm()" >
        <img src="img/p_2.png">
    </button>
    <button class="start-work-page-i2 submit" ng-click="uploadForm()" >
        <img src="img/p_2_2.png">
    </button>
    <button class="start-work-page-i3 submit" ng-click="exitApp()" >
        <img src="img/p_2_3.png">
    </button>

    <button ng-show="userId == '409'" class="start-work-page-i4 submit" ng-click="copyFiletoCashe()" >
        <img ng-show="keyWord == '1987'" src="img/p_2_4.png">
    </button>

    <button ng-show="userId == '409'" class="start-work-page-i5 submit" ng-click="uploadFormAll()" >
        <img ng-show="keyWord == '1987'" src="img/p_2_5.png">
    </button>

</ion-view>