<ion-view title="" hide-nav-bar="true" class="three-q-page animation-duration" ng-controller="threeQPageCtrl" >


        <div class="one-q-page-i4 last-name-user">{{userLastName}} {{userName}}</div>

        <select class="item item-input three-q-page-i1" ng-model="form.UserQ3">
            <option ng-selected="true" disabled value="">Выберите вариант ответа</option>
            <option value="Буду курить ту же марку, но в стандартной пачке">Буду курить ту же марку, но в стандартной пачке</option>
            <option value="Перейду на другую марку, подходящую по цене">Перейду на другую марку, подходящую по цене</option>
            <option value="Буду искать большие пачки любой марки">Буду искать большие пачки любой марки</option>
            <option value="Брошу курить">Брошу курить</option>
        </select>

        <button class="three-q-page-i2 submit"  ng-click="stopPage()">
            <img src="img/p_5_2.png">
        </button>

        <button class="three-q-page-i3 submit" ng-click="nextPage(form.UserQ3)" >
            <img src="img/p_5_3.png">
        </button>
</ion-view>