<ion-view title="" hide-nav-bar="true" class="two-q-page animation-duration" ng-controller="twoQPageCtrl" >


    <div class="one-q-page-i4 last-name-user">{{userLastName}} {{userName}}</div>

    <div class="two-q-page-i1"  ng-click="nextPage('Да')"></div>

    <div class="two-q-page-i2"  ng-click="nextPage('Нет')"></div>

    <button class="two-q-page-i3 submit"  ng-click="stopPage()">
        <img src="img/p_5_2.png">
    </button>
</ion-view>