/* Empty. Add your own CSS if you like */

form {
    position: relative;
    width: 100%;
    height: 100%;
}

.animation-duration {
    backface-visibility: hidden;
    perspective: 1000px;
    transition-duration: 1s !important;
}

.general-page {
    /*background: url("../img/bg_start_page.jpg") left top no-repeat;*/
}

.bg-inner-page {
    background: url("../img/bg_inner_page.jpg") left top no-repeat;
}

.item-input {
    width: 565px !important;
    height: 42px !important;
    border-radius: 5px !important;
}

.item-input-text {
    border-color: #ddd !important;
    background-color: #fff !important;
    color: #444 !important;
    padding-left: 10px !important;
    border-width: 1px !important;
    border-style: solid !important;
    font-size: 16px !important;
}

.item-input-text::-webkit-input-placeholder {color:#444;}

.item-date {
    width: 295px !important;
    height: 44px !important;
    border-radius: 5px !important;
    padding-top: 15px !important;

}

.submit {
    border: 0px;
    background: none;
}

.auth-page {
    background: url("../img/bg_inner_page.jpg") left top no-repeat;
}

.auth-page-i0 {
    position: absolute;
    top: 75px;
    left: 306px;
}

.auth-page-i1 {
    position: absolute;
    top: 292px;
    left: 227px;
}

.auth-page-i2 {
    position: absolute;
    top: 285px;
    left: 446px;
}

.auth-page-i3 {
    position: absolute;
    top: 360px;
    left: 446px;
}

.auth-page-i4 {
    position: absolute;
    top: 436px;
    left: 446px;
}

.auth-page-i5 {
    position: absolute;
    top: 511px;
    left: 446px;
}

.auth-page-i6 {
    position: absolute;
    top: 638px;
    left: 352px;
    text-indent: -9999px;
    width: 212px;
    height: 44px;
    background: url("../img/authInterviewer_3.png") left top no-repeat;
}

.auth-page-i7 {
    position: absolute;
    top: 638px;
    left: 705px;
}

.start-work-page {
    background: url("../img/bg_start_work_page.jpg") left top no-repeat;
}

.start-work-page-i1 {
    position: absolute;
    top: 301px;
    left: 438px;
}

.start-work-page-i2 {
    position: absolute;
    top: 384px;
    left: 438px;
}

.start-work-page-i3 {
    position: absolute;
    top: 466px;
    left: 438px;
}

.start-work-page-i4 {
    position: absolute;
    top: 646px;
    left: 250px;
}

.start-work-page-i5 {
    position: absolute;
    top: 646px;
    right: 250px;
}

.sign-page {
    background: url("../img/bg-sign-page_v2.jpg") left top no-repeat;
}

.sign-page-i3 {
    position: absolute;
    top: 175px;
    left: 100px;
    color: #fff;
    overflow-y: scroll;
    width: 1080px;
    height: 250px;
    font-size: 18px;
    text-align: justify;
}

.sign-page-i3 h1 {
    text-align: center;
    color: #fff;
    font-size: 26px;
}

.sign-page-i4 {
    position: absolute;
    background-color: #fff;
    top: 455px;
    left: 492px;
    width: 566px;
    height: 155px;
    border-radius: 5px;
}

.sign-page-i5 {
    position: absolute;
    top: 620px;
    left: 492px;
}

.sign-page-i6 {
    position: absolute;
    top: 683px;
    left: 352px;
}

.sign-page-i7 {
    position: absolute;
    top: 683px;
    left: 706px;
}

.interviewer-page {
    background: url("../img/bg_inner_page.jpg") left top no-repeat;
}

.interviewer-page-i0 {
    position: absolute;
    top: 75px;
    left: 554px;
}

.interviewer-page-i1 {
    position: absolute;
    top: 220px;
    left: 566px;
}

.interviewer-page-i2 {
    position: absolute;
    top: 269px;
    left: 566px;
}

.interviewer-page-i3 {
    position: absolute;
    top: 339px;
    left: 566px;
}

.interviewer-page-i4 {
    position: absolute;
    top: 388px;
    left: 566px;
}

.interviewer-page-i5 {
    position: absolute;
    top: 437px;
    left: 566px;
}

.interviewer-page-i6 {
    position: absolute;
    top: 487px;
    left: 566px;
}

.interviewer-page-i7 {
    position: absolute;
    top: 536px;
    left: 566px;
}

.interviewer-page-i8 {
    position: absolute;
    top: 223px;
    left: 253px;
}

.one-q-page {
    background: url("../img/bg-one-q-page_v2.jpg") left top no-repeat;
}

.one-q-page-i1 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 356px;
}

.one-q-page-i2 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 712px;
}

.one-q-page-i3 {
    position: absolute;
    top: 682px;
    left: 321px;
}

.one-q-page-i4 {
    position: absolute;
    width: 100%;
    top: 222px;
}

.last-name-user {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.two-q-page {
    background: url("../img/bg-two-q-page_v2.jpg") left top no-repeat;
}


.two-q-page-i1 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 356px;
}

.two-q-page-i2 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 712px;
}

.two-q-page-i3 {
    position: absolute;
    top: 682px;
    left: 321px;
}

.three-q-page {
    background: url("../img/bg-three-q-page_v2.jpg") left top no-repeat;
}

.three-q-page-i1 {
    position: absolute;
    top: 460px;
    left: 220px;
    width: 840px !important;
}

.three-q-page-i2 {
    position: absolute;
    top: 682px;
    left: 321px;
}

.three-q-page-i3 {
    position: absolute;
    top: 682px;
    left: 716px;
}

.four-q-page {
    background: url("../img/bg-four-q-page_v2.jpg") left top no-repeat;
}


.four-q-page-i1 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 356px;
}

.four-q-page-i2 {
    position: absolute;
    top: 518px;
    height: 44px;
    width: 210px;
    left: 712px;
}

.four-q-page-i3 {
    position: absolute;
    top: 682px;
    left: 321px;
}

.inform-page {
    background: url("../img/bg_page_inform_v2.jpg") left top no-repeat;
}

.change-page {
    background: url("../img/bg_change_page_v2.jpg") left top no-repeat;
}

.change-page-i1 {
    position: absolute;
    top:20px;
    left:860px;
}

.change-page-i2 {
    position: absolute;
    top: 300px;
    left: 327px;
    width: 344px;
    height: 394px;
    background: url("../img/red_bundle.png") center top no-repeat;
}

.change-page-i3 {
    position: absolute;
    top: 300px;
    left: 633px;
    width: 344px;
    height: 394px;
    background: url("../img/gray_bundle.png") center top no-repeat;
}

.change-page-i3.active {
    position: absolute;
    top: 280px;
    left: 623px;
    width: 390px;
    height: 440px;
    background: url("../img/gray_bundle.png") center top no-repeat;
    background-size: cover;
}

.change-page-i2.active {
    position: absolute;
    top: 280px;
    left: 317px;
    width: 390px;
    height: 440px;
    background: url("../img/red_bundle.png") center top no-repeat;
    background-size: cover;
}

.last-page {
    background: url("../img/bg_last_page.jpg") left top no-repeat;
}